body{
    width: 600px;
    margin: 0 auto;
    font-family: 'Smythe', cursive;
}
.header {
    width: 100%;
    height: 167px;
    background-image: url(https://images.pexels.com/photos/1639562/pexels-photo-1639562.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center;
    color:white;
}
header h1, header p {
    margin: 0;
    padding-left: 42px;
}
header h1{
    font-size: 2.438rem;
    padding-top: 42px;
}
header p{
    font-size: 1.401rem;
}

/* product */


.product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px ;
    margin: 0px 40px;
}
.product-img p{
    font-size: 60px;
}
.description{
    width:250px;
}
.add-cart button{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 0.5px black;
    font-size: 24px;
}
.price{
    font-weight: bold;
}
/*Checkout Modal*/
.checkout-btn{
    height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #16DB99;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.checkout-modal{
    display: none;
    margin: auto;
    padding: 25px;
    background-color: white;
    width: 80%;
    height: fit-content;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0; 
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}
.checkout-modal h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}
form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
input{
    height: 70px;
    margin: 10px 0;
    padding-left: 20px;

}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }